<div class="wallpaper"></div>
<app-header></app-header>
<section class="title-wrapper">
	<h2 class="intro-sentence">
		<p>Hi, I am Jia Shyang</p>
		<p>or &nbsp; &nbsp; 'JS'</p>
    <br />
    <div class="title">
      <p class="blurr">&nbsp; I am a &nbsp;</p>   
      <br />
      <br />
      <div class="changing-words">
        <span class="first-word">Web Designer</span>      
        <span class="second-word">Malaysian</span>      
        <span class="third-word">App Developer</span>
      </div>
    </div>
  </h2>		
</section>

<app-about id="about"></app-about>
<app-experience id="experience"></app-experience> 
<app-contact id="contact" class="contact-me"></app-contact>

<span class="go-to-top">
  <go-top-button 
    [html]="'<span class=\'glyphicon glyphicon-menu-up\'></span>'"
    [animate]="true"
    [speed]="30"
    [acceleration]="2"
    [scrollDistance]="500"
    [styles]="{
      'border-radius': '50%',
      'background': 'rgba(0,0,0,0.5)',
      'line-height': '3.7rem',
      'right' : '3%',
      'top' : '90%',
      'bottom' : '10%'
    }">
  </go-top-button>
</span>

<app-footer></app-footer>
 


