<div class="wallpaper"></div>
<app-header></app-header>

<div class="title">
  <h1>Web Developer</h1>
  <h1>Student</h1>
  <h1>Malaysian</h1>
</div>

<span class="go-to-top">
  <go-top-button 
    [html]="'<span class=\'glyphicon glyphicon-menu-up\'></span>'"
    [animate]="true"
    [speed]="30"
    [acceleration]="2"
    [scrollDistance]="100"
    [styles]="{
      'border-radius': '50%',
      'background': 'rgba(0,0,0,0.5)',
      'line-height': '20px',
      'right' : '3%',
      'top' : '90%',
      'bottom' : '10%',
      'z-index': '5'
    }">
  </go-top-button>
</span>

<app-footer></app-footer>
 


