
<div class="home-page"></div>
 <!--<div class="jumbotron"></div>  
 <div class="jumbotron"></div>  
 <div class="jumbotron"></div>  
 <div class="jumbotron"></div>  
 <go-top-button></go-top-button>

  <p style="height:200px; background:white;">something</p>
  <p style="height:200px; background:white;">something</p>
  <p style="height:200px; background:white;">something</p>
  <p style="height:200px; background:black;">something</p>-->
  
<!--  
 <go-top-button [html]="'<i class=\'fa fa-arrow-up\'></i>'"
                 [animate]="true"
                 [speed]="50"
                 [acceleration]="2"
                 [scrollDistance]="300"
                 [styles]="{
                    'border-radius': '20px 20px 20px 20px',
                    'right': '5px',
                    'color': 'green',
                    'border': '5px solid',
                    'line-height': '20px'
                 }">
  </go-top-button>-->
  
 


