<div class="footer">
  <div class="social-section">
    <button class="btn btn-social-icon btn-facebook social-button" style="font-size: 15px;" (click)="onClickFacebook()">
      <span style="margin-top: 2px;" class="fa fa-facebook"></span>
    </button>

    <button class="btn btn-social-icon btn-linkedin social-button" style="font-size: 15px;" (click)="onClickLinkedIn()">
      <span style="margin-top: 1px;" class="fa fa-5x fa-linkedin"></span>
    </button>

    <button class="btn btn-social-icon btn-instagram social-button" style="font-size: 15px;" (click)="onClickInstagram()">
      <span style="margin-top: 1px;" class="fa fa-instagram"></span>
    </button>

    <!--<button class="btn btn-social-icon btn-envelope" href="mailto:oojiashyang@gmail.com">
      <span style="font-size: 15px;" class="glyphicon glyphicon-envelope"></span> 
    </button>-->
  </div>
</div> 


