.jumbotron {
  color: #393939;
  width: 80%;
  height: 500px;
  padding: auto;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 20px;
  background: rgba(255,255,255,1);
  box-shadow: 0 0 0 3px rgb(255,255,255);
  border: solid 3px #16253d;
  padding: 5px;
  margin-top:auto;
  /*margin-bottom: auto;*/
}

.jumbotron h1 {
  text-align: left;
  margin-left: 10px;
}

.jumbotron h1 u {
  text-decoration: none;
  border-bottom: 2px solid black;
}
