<div class="container cv">
  <div class="row">
    <div class="col-md-offset-2 col-md-4 text-center">
      <div class="short_cv">
        something
      </div>
      <button type="button" class="btn cv-button">
        <a href="https://drive.google.com/uc?authuser=0&id=0B4qHOsy3eFGmQS1qSkdqOE85Z1U&export=download">SHORT CV</a>
      </button>
    </div>
    <div class="col-md-offset-1 col-md-4 text-center">
      <div class="long_cv">
        something
      </div>
      <button type="button" class="btn cv-button">
        <a href="https://drive.google.com/uc?authuser=0&id=0B4qHOsy3eFGmQS1qSkdqOE85Z1U&export=download">LONG CV</a>
      </button>
    </div>
  </div>
</div>
