<div class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a href="index.html"><img src="assets/image/best-min-js.ico" alt="JS" class="header-logo"/></a>				
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
		</div>
		<div class="collapse navbar-collapse nav-elements">
			<ul class="nav navbar-nav navbar-right" >
				<li><a href="index.html">Home</a></li>
				<li><a (click)= "onReload('about')">About</a></li>
				<li><a (click)= "onReload('experience')">Experience</a></li>
				<li><a (click)= "onReload('contact')">Contact</a></li>
				<!--<li role="presentation" routerLinkActive="active" [routerLinkActiveOptions] = "{exact: true}">
          <a routerLink="/">Test</a></li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/about">About</a></li>
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['/experience']">Experience</a></li>
				<li role="presentation" routerLinkActive="active">
          <a [routerLink]="['/contact']">Contact</a></li>-->
				<!--<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Page 1-1</a></li>
						<li><a href="#">Page 1-2</a></li>
						<li><a href="#">Page 1-3</a></li>
					</ul>
				</li>-->

			</ul>
		</div>
	</div>
</div>
