<div class="navbar navbar-default" 	role="navigation" (window:scroll)="onWindowScroll($event)"
		[ngStyle]="{ 'background-color' : isScrolled? 'rgba(84,76,76,1)' : 'rgba(255,255,255,0.1)', 
		              'transition' : 'background-color ease-in-out 0.2s' }">
	<div class="container">
		<div class="navbar-header">
			<a href="/"><img src="assets/image/best-min-js.ico" alt="JS" class="header-logo"/></a>				
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
		</div>
		<div class="collapse navbar-collapse nav-elements" >
			<ul class="nav navbar-nav navbar-right" >
				<li><a href="/">Home</a></li>
				<li><a pageScroll href="#about">About</a></li>
				<li><a pageScroll href="#experience">Experience</a></li>
				<li><a pageScroll href="#contact">Contact</a></li>
			</ul>
		</div>
	</div>
</div>
