
<div class="skills-container">

  <h4>JAVA</h4>
  <div class="container-skill">
    <div class="skills java">80%</div>
  </div>

  <h4>CSS</h4>
  <div class="container-skill">
    <div class="skills css">80%</div>
  </div>

  <h4>HTML</h4>
  <div class="container-skill">
    <div class="skills html">70%</div>
  </div>

  <h4>IONIC 2</h4>
  <div class="container-skill">
    <div class="skills ionic">50%</div>
  </div>

  <h4>JavaScript</h4>
  <div class="container-skill">
    <div class="skills js">50%</div>
  </div>

  <h4>Angular JS</h4>
  <div class="container-skill">
    <div class="skills angular-js">40%</div>
  </div>

  <h4>PHP</h4>
  <div class="container-skill">
    <div class="skills php">30%</div>
  </div>

  <div class="cv">
    <button type="button" class="btn cv-button">
      <a href="https://drive.google.com/uc?authuser=0&id=0B4qHOsy3eFGmQS1qSkdqOE85Z1U&export=download">LONG CV</a> 
    </button>
    <p class="cv-details"> -- This is my longer CV which contains technical and interests as well.</p>          
  </div>
 

  <div class="cv-second">
    <button type="button" class="btn cv-button">
      <a href="https://drive.google.com/uc?authuser=0&id=0B4qHOsy3eFGmQS1qSkdqOE85Z1U&export=download">SHORT CV</a> 
    </button>
    
    <p class="cv-details"> -- This is my shorter CV where I only include technical skills and achievements for just a quick look.</p>
  </div>

</div>

