
<div class="skills-container">

  <h4>JAVA</h4>
  <div class="container">
    <div class="skills java">80%</div>
  </div>

  <h4>CSS</h4>
  <div class="container">
    <div class="skills css">80%</div>
  </div>

  <h4>HTML</h4>
  <div class="container">
    <div class="skills html">70%</div>
  </div>

  <h4>JavaScript</h4>
  <div class="container">
    <div class="skills js">65%</div>
  </div>

  <h4>Angular JS</h4>
  <div class="container">
    <div class="skills angular-js">60%</div>
  </div>

  <h4>PHP</h4>
  <div class="container">
    <div class="skills php">30%</div>
  </div>



</div>

